<section class="main-screen">
        <img src="/assets/img/Quabeck.jpg">
        <table>
                <tr>
                        <td>Name</td>
                        <td>Julien Quabeck</td>
                </tr>
                <tr>
                        <td>Adresse</td>
                        <td>Schwalbenweg 2, <br> 58256 Ennepetal</td>
                </tr>
                <tr>
                        <td>Geboren</td>
                        <td>06.07.1993 in Hagen / Haspe</td>
                </tr>
                <tr>
                        <td>Telefon:</td>
                        <td>0172 / 981585</td>
                </tr>
                <tr>
                        <td>E-Mail</td>
                        <td>j.quabeck(at)gmx.net</td>
                </tr>
                <tr>
                        <td>erlernter Beruf</td>
                        <td>Industriekaufmann</td>
                </tr>
                <tr>
                        <td>abgeschlossenes Studium</td>
                        <td>B.Sc. Wirtschaftsingenieurwesen</td>
                </tr>
        </table>
</section>